; 请妥善保管您的配置
registry=https://xiaoxiaoshuoljg-npm.pkg.coding.net/hana-client/hana-client/
always-auth=true
//xiaoxiaoshuoljg-npm.pkg.coding.net/hana-client/hana-client/:username=hana-client-1586756607219
//xiaoxiaoshuoljg-npm.pkg.coding.net/hana-client/hana-client/:_password=YmIwNjdjYzMyNmYyYTE0NmEwZDgxMjQ5OTBkNjljMjVlOTgwZjc3Zg==
//xiaoxiaoshuoljg-npm.pkg.coding.net/hana-client/hana-client/:email=171232349@qq.com
